[submodule "external/liblsl"]
	path = external/liblsl
	url = https://github.com/sccn/liblsl.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
